
.heroBanner{
    height: 40vh;
    background-image: url("../../images/home-banner.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heroBanner  h1 {
    font-size: 55px;
    color: white;
    font-weight: 400;
}

.team-section {
    background-image: linear-gradient(to right, rgb(36, 6, 170) , rgb(0, 0, 0));
    padding: 20px 0;

}
